body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
header{
    height: 112px;
    font-family: calc(worksans);
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    align-items: center;
}
.header2{
    font-family: calc(worksans);
    width: 1072px;
    display: flex;
    justify-content: space-evenly;
}
#button{
    width: 184px;
    height: 48px;
    margin-top: 10px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 0px;
}
.xbizit{
    color: black;
    text-decoration: solid;
    font-weight: 500;
}

.nav{
    display: contents;
}
.nav-link{
    color: #212124;
}
.sectiondiv{
    padding-top: 30px;
    width: 1072px;
}
.qoshul{
    width: 235px;
}
.section2{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    align-items: center;
}
.firm{
    font-family: 'Work Sans', sans-serif;
    margin-top: 16px;
    width: 714.66px;
height: 96px;
}
.nav-link{
    font-family: 'Work Sans', sans-serif;
}
.qoshul{
    width: 235px;
}


.nav-item{
    font-family: calc(worksans);
    display: flex;
    justify-content: space-evenly;
    padding: 15px 21px 15px 7px;
}
a:hover{
    color: #918585;

}
.xidmet{
    font-family: calc(worksans);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 192px;
    background-color: #B5B5B5;
    align-items: center;
    flex-direction: column;
}
.xidmetler{
    font-family: calc(worksans);
    width: 1072px;
}
.xid{
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
}
.data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1072px;
    align-self: center;
    margin-bottom: 60px;
}
.invest{
    margin-top: 32px;
    display: flex;
    justify-content: right;
    flex-direction: column;
    padding-right: 1rem;
}
.your{
    font-style: normal;
font-weight: 600;
line-height: 48px;
}
.GES{
    width: 521px;
    height: 240px;
    margin-top: 16px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
}
.pict{
width: 516.72px;
height: 312px;
margin-top: 32px;
background: #D9D9D9;
}
.label{
    width: 1072px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 32px;
}
.btn-outline-primary{
    border: 1px solid white;
    height: 48px;
    --bs-btn-active-bg: #1974C5;
    --bs-btn-color: black;
}
.btn-group>.btn-group:not(:first-child), .btn-group>:not(.btn-check:first-child)+.btn{
    display: flex;
    align-items: center;
    --bs-btn-border-radius:none;
}
.btn-group-vertical>.btn, .btn-group>.btn{
    position: relative;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
.ham{
    margin: revert;
    color: black;
}
u{
    margin-right: 16px;
}
.fa-solid{
    width: 19px;
}
.pictures{
    display: flex;
    width: 1072px;
    flex-wrap: wrap;
    align-self: center;
    margin-top: 44px;
    grid-gap: 0 32px;
}
.card{
    margin-bottom: 35px;
    --bs-card-border-width: none ;
    width: max-content;
}
.card-img-top{
    height: 306px;
    width: 336px;
}
.card-body{
    width: 336px;
    height: 124px;
    padding: 12px 0 0 0;
}
.hekaye{
    width: 139px;
    height: 40px;
    background-color: #E9F4FF;
    display: flex;
    align-items: center;
    font-style: normal;
    justify-content: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    margin: 16px 0 0 16px;
}
.socials{
    color: black;
    display: flex;
    flex-direction: row;
    margin: 0 0 0 75px;
}
.icons{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 6px 12px 0 0;
    border-radius: 0px;
    background-color: #1974C5;
    color: white;
    border: 0px solid;
    padding: 20px 20px;
    width: 24px;
    height: 24px;
    align-items: center;
    text-decoration: none;
}

.icons:hover{
    color: black;
    background-color: #ffffff;
    border: #1974C5;
    transition: .5s;
}
.axiri{
    width: 1072px;
    display: flex;
    align-self: center;
    flex-direction: column;
    padding-top: 25px;
}
.xett{
    margin: 1rem 0;
    color: black;
    border: 0;
    border-top: 2px solid;
    opacity: 1;
}
.selection{
    display: flex;
    justify-content: center;
    color: #1974C5;
    padding: 42px 0 49px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}
.images{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 70px;
}
.footer1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 295px;
    background-color: #123E4E;
    align-items: center;
    flex-direction: column;
    margin: 110px 0 0 0;
}
.latest{
    color: white;
    padding: 72px 0 32px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
}
.footsection{
    width: 1072px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.footsection2{
    width: 1072px;
    display: flex;
    justify-content: left;
    flex-direction: row;
}
.input1{
    position: relative;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
}
#button7{
    width: 166.92px;
    height: 56px;
    padding: 15px;
    margin-left: 32px;
    background-color: #1974C5;
}
.btn-check+.btn:hover{
    border-color: white;
}
.bbc{
    border-radius: initial;
}
.ufo{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
}
.exer{
    font-style: normal;
font-weight: 450;
font-size: 16px;
line-height: 24px;
color: black;
opacity: 1;
}
.formn{
    display: contents;
}