<!--
<h3>Password reset sent</h3>
<p>
    we have emailed you instructions for setting your
    password. if an account exist with the email you entered.
    you should receive them shortly.

</p>
<p>
    if you don't receive and email, please make sure
    you have entered the address you registered with,
    and check your spam folder

</p>
-->

<!DOCTYPE html>

<html lang="en-us" dir="ltr">
<head>
<title>Password reset sent | Django site admin</title>
<link rel="stylesheet" href="/static/admin/css/base.css">

  <link rel="stylesheet" href="/static/admin/css/dark_mode.css">






    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/static/admin/css/responsive.css">
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class=""
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/admin/">Admin Pannel</a></h1>

        </div>
        
        
        
        
    </div>
    
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; Password reset
</div>

    

    <div class="main" id="main">
      
      <div class="content">
        
          
        
        <!-- Content -->
        <div id="content" class="colM">
          
          <h1>Parol sıfırlaması linki göndərildi</h1>
          
          
<!--
<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
-->
<p>Daxil etdiyiniz e-poçtla hesab varsa, parolunuzu təyin etmək üçün təlimatları sizə e-poçtla göndərdim. Onları tezliklə qəbul etməlisiniz.</p>
<!--
<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
-->
<p>E-poçt almasanız, qeydiyyatdan keçdiyiniz ünvanı daxil etdiyinizə əmin olun və spam qovluğunu yoxlayın.</p>

          
          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>
