<!DOCTYPE html>
{% load static %}

<html lang="en-us" dir="ltr">
<head>
<title>Password reset complete | Django site admin</title>
<link rel="stylesheet" href="{% static '/admin/css/base.css' %}">

  <link rel="stylesheet" href="{% static '/admin/css/dark_mode.css' %}">






    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="{% static 'admin/css/responsive.css' %}">
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class=""
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/admin/">Admin Pannel</a></h1>

        </div>
        
        
        
        
    </div>
    
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/admin/">Ev</a>
&rsaquo; Parolun sıfırlanması
</div>

    

    <div class="main" id="main">
      
      <div class="content">
        
          
        
        <!-- Content -->
        <div id="content" class="colM">
          
          <h1>Parolun sıfırlanması tamamlandı.</h1>
          
          

<p>Parolunuz təyin edildi. Siz davam edə və indi daxil ola bilərsiniz.</p>

<p><a href="{% url 'login' %}">Daxil ol</a></p>


          
          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>

